.container{

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: #dd7b22 1px;
    
}

.img{
    width: 16rem;
    height: 16rem;
    margin-top: 6px;
}

.textoFrase{
    font-style: italic;
    color: #dd7b22;
    text-align: center;
}

.botao{
    border-radius: 9px;
    border: #dd7b22 1px;
    color: aliceblue;
    background-color: #dd7b22;
    height: 50px;
    width: 70px;
    outline: none;
}